<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.viettel.mbccs">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MBCCSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ManifestResource">
        <activity android:name=".screen.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--<activity android:name=".screen.test.TestActivity"/>-->

        <activity
            android:name=".screen.resetpass.ResetPasswordActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".screen.login.LoginActivity"/>
        <activity android:name=".screen.serialpicker.SerialPickerActivity"/>
        <activity android:name=".screen.common.success.ScanbarCodeActivity"/>
        <activity android:name=".screen.goodsconfirm.GoodsConfirmActivity"/>
        <activity android:name=".screen.sell.orders.SellOrdersActivity"/>
        <activity android:name=".screen.goodsconfirm.StockConfirmActivity"/>
        <activity android:name=".screen.sellretail.SellRetailActivity"/>
        <activity android:name=".screen.sellretail.sellprogrampicker.SellProgramPickerActivity"/>
    </application>

</manifest>