<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.viettel.mbccs">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MBCCSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ManifestResource">
        <activity
            android:name=".screen.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".screen.billing.BillingActivity"/>
        <activity
            android:name=".screen.resetpass.ResetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.login.LoginActivity"
            android:configChanges="screenLayout|screenSize"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".screen.main.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.serialpicker.SerialPickerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.common.success.ScanbarCodeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.sell.orders.SellOrdersActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.sell.retail.SaleRetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.sell.retail.sellprogrampicker.SaleProgramPickerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.config.ConfigActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.goodsconfirm.SaleReviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.sell.retail.CreateSaleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.sell.channel.SaleChannelActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.sell.channel.channelpicker.ChannelPickerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.branches.BranchesActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.changesim.ChangeSimActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.branches.staffpicker.StaffPickerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.branches.btspicker.BTSPickerActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>