<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.viettel.mbccs">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name=".MBCCSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ManifestResource"
        tools:replace="android:label">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="mbccs_db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2"/>

        <meta-data
            android:name="AA_MODELS"
            android:value="com.viettel.mbccs.data.model.Precinct,
            com.viettel.mbccs.data.model.Province,
            com.viettel.mbccs.data.model.District,
            com.viettel.mbccs.data.model.UploadImage"/>

        <activity
            android:name=".screen.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.TestActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.billing.BillingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.resetpass.ResetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.login.LoginActivity"
            android:configChanges="screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".screen.main.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".base.BaseSubMenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.serialpicker.SerialPickerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.common.success.ScanbarCodeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.sell.orders.SellOrdersActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.sell.retail.SaleRetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.sell.retail.sellprogrampicker.SaleProgramPickerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.config.ConfigActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.goodsconfirm.SaleReviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.sell.retail.CreateSaleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.sell.channel.SaleChannelActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.sell.channel.channelpicker.ChannelPickerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.branches.BranchesActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.changesim.ChangeSimActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.sellanypay.SellAnyPayActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.branches.staffpicker.StaffPickerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.transferanypay.TransferAnyPayActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.branches.btspicker.BTSPickerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.kpp.order.KPPOrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.kpp.order.addnew.AddNewOrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.kpp.order.findstock.FindStockActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".screen.kpp.order.ordersuccess.OrderSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.assigntask.ListAssignTaskActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.assigntask.arising.create.CreateArisingTaskActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.assigntask.staffpicker.StaffPickerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.assigntask.cskpp.detail.TaskCSKPPDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.assigntask.cskpp.create.CreateCSKPPTaskActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.help.HelpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.change.installation.InstallationAddressActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.change.installation.InstallationAddressDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".permission.PermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeStyleDialog"/>
        <activity
            android:name=".screen.inputorder.InputOrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.connector.mobile.ConnectorMobileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.information.CreateUpdateInformationActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.nhapkhocapduoi.ListOrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.trahangcaptren.ListOrderReturnUpperActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.trahangcaptren.create.CreateTicketActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".screen.nhapkhocapduoi.createorder.CreateOrderSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.survey.SurveyActivity"
            android:screenOrientation="portrait"/>
        <!-- Area Channel -->
        <activity
            android:name=".screen.manager.area.AreaChanelActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.manager.area.AdministrativeAreaDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.surveykpp.SurveyKPPActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.androidadvance.androidsurvey.SurveyActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.hotnewscskpp.HotNewsCSKPPActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.kppfeedback.KPPFeedbackActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.uploadimage.UploadImageActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.viewwarehouse.ViewWarehouseActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.common.picker.KeyValuePickerActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".service.service.UploadImageService"
            android:exported="true"/>

        <receiver android:name=".service.receiver.UploadImageReceiver"/>

        <activity
            android:name=".screen.Test"
            android:screenOrientation="portrait"/>
    </application>

</manifest>